.input-search {
  align-items: center;
  background: white;
  border-radius: 50%;
  border: 1px solid #2fa4e7;
  display: flex;
  height: 60px;
  justify-content: center;
  position: relative;
  width: 60px;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__button-icon {
    height: 40px;
    width: 40px;
    transition: width .4s, height .4s ease-out;

    &--active {
      height: 30px;
      width: 30px;
    }
  }

  &__input {
    border-radius: 50px;
    border: none;
    height: 40px;
    opacity: 0;
    outline: none;
    padding: 0 60px 0 15px;
    position: absolute;
    right: 0;
    transition: opacity 1s, width 1s ease-in-out;
    width: 0;
    z-index: -1;

    &--active {
      opacity: 1;
      width: 200px;
    }
  }
}