.empty-state {
  align-items: center;
  animation: appear-text 1s ease;
  color: black;
  display: flex;
  height: 420px;
  justify-content: center;
  text-align: center;

  @keyframes appear-text {
    0%  {
      opacity: 0;
      transform: scale(0.8);
    }
    100%  {
      opacity: 1;
      transform: scale(1);
    }
  }
}