.toogle {
  align-items: center;
  border-bottom: solid 1px gray;
  color: black;
  display: flex;
  height: 63px;
  justify-content: flex-end;
  padding: 10px 20px;

  &__label {
    width: 30%;
  }

  &__label--bold {
    color: black;
    font-weight: bold;
  }

  &__description {
    margin: 0;
  }

  &__switch {
    cursor: pointer;
    display: inline-block;
    height: 34px;
    outline: none;
    position: relative;
    width: 60px;
  
    &-input {
      &:checked + .toogle__switch-slider {
        background-color: #28a745;
    
        &:before {
          transform: translateX(26px);
        }
      }
  
      &:focus + .toogle__switch-slider {
        box-shadow: 0 0 1px #28a745;
      }
    }
  
    &-slider {
      background-color: #ccc;
      border-radius: 34px;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
  
      &:before {
        background-color: white;
        border-radius: 50%;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    &__label--bold {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }
  }
}