.data-table {
  background: #f7f7f7;
  width: 100%;

  &__head {
    border-bottom: 1px solid #ddd;
    color: #2eacdf;
    font-size: 1.2rem;
    padding: 10px 10px;
    text-align: left;
    text-transform: uppercase;
  }

  &__row {
    &-text {
      font-family: 'Roboto', sans-serif;
      padding: 12px 10px;
      text-align: left;
    }

    &--active {
      background: #ededed;
    }

    &:hover {
      background: #dcedff;
    }
  }
}